# Environment variables
.env

# Google Cloud credentials
google-cloud-key.json
service-account-file.json
firebase-credentials.json

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
